<div class="container">
    <div class="title">
        <h2>SOBRE MI</h2>
    </div>
    <div id="aboutme" class="aboutme">
        <figure class="photo">
            <img [ngClass]="{'show': showSection}" src="../../../assets/photoedit.png" alt="photo">
        </figure>
        <div class="description" [ngClass]="{'show': showSection}">
            <p>Hola! Soy Guillermo Gutierrez, tengo 24 años y resido en Córdoba, Argentina. Mi gusto por la tecnología y
                la
                programación me ha llevado a adquirir un conjunto de habilidades en el desarrollo de aplicaciones web.
            </p>
            <p> Me siento cómodo trabajando con tecnologías front-end, el uso de frameworks populares y
                además, tengo conocimiento en desarrollo de servidores.
                Me encanta crear aplicaciones web dinámicas y eficientes, y siempre estoy buscando oportunidades para
                mejorar mis habilidades y aprender nuevas tecnologías.</p>
            <p> Disfruto trabajar en equipo y colaborar con otros profesionales para lograr resultados sobresalientes y
                exitosos, de igual manera me siento capacitado para trabajar de forma autónoma.
                Estoy emocionado por seguir aprendiendo y aplicar mis conocimientos en éste campo asumiendo nuevos
                desafíos
                y enfrentando proyectos que me permitan crecer profesionalmente.</p>
            <p>Si crees que tengo potencial y mi perfil se ajusta a lo que estás buscando, ¡No dudes en contactarme!</p>
        </div>
        <div class="border-animation"></div>
    </div>

    <div id="cv" class="cv">
        <p>En el siguiente link podrás acceder a mi curriculum vitae, así como también descargarlo...</p>
        <a href="https://drive.google.com/file/d/1FEi_7dMyv3XK1hNdUlTTx1sr2qWmcggH/view?usp=drive_link" target="_blank">
            <button mat-fab extended>VER CV</button>
        </a>
    </div>
</div>