<div class="skills" id="skills">
    <h2>SKILLS</h2>
    <div class="technologiesmobile" [ngClass]="{'show': showSection}">
        <div>
            <img src="../../../assets/node.svg" alt="Node.js">
            <img src="../../../assets/js.svg" alt="JavaScript">
        </div>
        <div>
            <img src="../../../assets/angular.svg" alt="Angular">
            <img src="../../../assets/typescript.svg" alt="TypeScript">
        </div>
        <div>
            <img src="../../../assets/html.svg" alt="HTML">
            <img src="../../../assets/css.svg" alt="CSS">
        </div>
        <div>
            <img src="../../../assets/tailwind.svg" alt="TailwindCSS">
            <img src="../../../assets/mysql.svg" alt="MySql">
        </div>
        <div>
            <img src="../../../assets/git.svg" alt="Git">
            <img src="../../../assets/github.svg" alt="GitHub">
        </div>
    </div>
    <div class="technologies" [ngClass]="{'show': showSection}">
        <img src="../../../assets/node.svg" alt="">
        <img src="../../../assets/js.svg" alt="">
        <img src="../../../assets/angular.svg" alt="">
        <img src="../../../assets/typescript.svg" alt="">
        <img src="../../../assets/html.svg" alt="">
        <img src="../../../assets/css.svg" alt="">
        <img src="../../../assets/tailwind.svg" alt="TailwindCSS">
        <img src="../../../assets/mysql.svg" alt="">
        <img src="../../../assets/github.svg" alt="">
        <img src="../../../assets/git.svg" alt="">
    </div>
</div>